.audio-player {
  --buffered-width: 0%;

  --track-unselected-color: #999;
  --track-selected-color: #333;
  --track-bufffered-color: #888;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 600px;
  padding: 1.25rem 1.5rem;
  border-radius: 4px;
  gap: 0.66rem;
  color: #000;
  background-color: #ddd;
  border: #ccc solid 2px;

  button {
    background: #0000;
    border: none;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      fill: rgb(0, 99, 213);
    }
    &:focus {
      outline: rgb(0, 78, 213);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  input[type="range"] {
    appearance: none;
    width: 100%;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
    cursor: pointer;
  }

  /* Track: webkit browsers */
  input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 16px;
    background: linear-gradient(
      to right,
      var(--track-bufffered-color) var(--buffered-width),
      var(--track-unselected-color) var(--buffered-width)
    );
  }

  /* Track: Mozilla Firefox */
  input[type="range"]::-moz-range-track {
    height: 15px;
    background: var(--track-bufffered-color);
    border-radius: 16px;
  }

  /* Thumb: webkit */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: rgb(0, 78, 213);
    border-radius: 50%;
    border: 2px solid rgb(97, 144, 226);
    box-shadow: -807px 0 0 800px var(--track-selected-color);
  }

  /* Thumb: Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: rgb(0, 78, 213);
    border-radius: 50%;
    border: 1px solid rgb(97, 144, 226);
    box-shadow: -807px 0 0 800px var(--track-selected-color);
  }

  &__play-state-button {
    justify-self: center;
    position: relative;
    width: 32px;
    height: 32px;
  }

  &__play,
  &__pause {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
  }

  &__forward-30 {
    justify-self: end;
  }

  // Avoid buffer bar on volumn slider
  &__volume-slider {
    &[type="range"]::-webkit-slider-runnable-track {
      background: var(--track-unselected-color) !important;
      border-radius: 16px;
    }
  }

  &__progress-bar {
    grid-area: auto / 1 / auto / -1;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .playback-speed-wrapper {
    grid-area: auto / 1 / auto / 3;
    justify-self: start;
    width: calc(50% - 8px);
    font-size: 1rem;
  }

  &__playback-speed {
    background-color: rgba(0, 78, 213, 0.4);
    border: 1px solid rgb(97, 144, 226);
    padding: 0.25rem;
    border-radius: 8px;
    font-size: 16px;
  }

  &__playback-speed-label:not(.show-label) {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  &__volume {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
  }

  &__volume-display {
    width: 35px;
    text-align: center;
  }

  &__volume-slider {
    flex: 1;
  }

  &__mute {
    width: 32px;
    height: 32px;
    position: relative;
    top: 0;
    left: 0;

    .mute-x-mark {
      position: absolute;
      left: 25%;
      top: 50%;
      width: 33%;
      height: 33%;
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
      pointer-events: none;
      opacity: 0;
      transform: translate(100%, -50%);
    }
  }

  &[data-playing="true"] {
    .audio-player__pause {
      opacity: 1;
      pointer-events: all;
    }
  }

  &[data-playing="false"] {
    .audio-player__play {
      opacity: 1;
      pointer-events: all;
    }
  }

  &[data-muted="true"] {
    .audio-player__mute {
      fill: red;

      .mute-x-mark {
        pointer-events: all;
        opacity: 1;
        transform: translate(200%, -50%);
      }
    }
  }
}
